<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
  <div class="login-container">
  <h2>Login:</h2>
    <form action="/login" method="post">
      <p>Username: <input type="text" name="username"></p>
      <p>Password: <input type="password" name="password"></p>
      <input type="submit" value="Login">
      <div id="error-message" style="color: red;">
        {% if error %}
          <p>{{ error }}</p>
        {% endif %}
      </div>
    </form>
    <a class="back-home-button" href="/">Back Home</a>
    <p>No account yet? No worries! You can sign up <a href="/register">here</a>!</p>
  </div>
</body>
</html>
